spring:
  application:
    name: portfolio-tracker

  data:
    mongodb:
      auto-index-creation: false
    autoconfigure:
      exclude: org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration

  datasource:
    url: jdbc:postgresql://localhost:5432/portfolio
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080