spring:
  application:
    name: portfolio-tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/portfolio
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080